@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
}

body {
  background-color: #1a1a1a;
  color: #f5f1f1dd;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 4rem;
}

.header .navbar a {
  margin: 0 0.5rem;
  font-size: 1.4rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .3rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 1rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

.header .navbar .active {
  color: var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .3rem;
}

.item {
  width: 50%;
  height: 120px;
  border: 5px solid black;
  padding-left: 50px;
  padding-top: 50px;
  margin-top: 97px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
}

.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
}

.item:nth-child(3) { left: 50%; transform: translateX(-50%); }
.item:nth-child(4) { left: calc(50% + 220px); }
.item:nth-child(5) { left: calc(50% + 440px); }
.item:nth-child(6) { left: calc(50% + 660px); opacity: 0; }

.btn {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 15px;
  font-weight: bolder;
  padding: 1em 2em;
  -webkit-appearance: none;
  appearance: none;
  background-color: red;
  color: black;
  border-radius: 25px;
  border: red;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.title span {
  color: var(--main-color);
  text-transform: uppercase;
}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;
}

.content .title {
  font-family: 'arial-black';
  text-transform: uppercase;
  font-size: 50px;
}

.content .description {
  line-height: 1.7;
  margin: 1rem 0 1.5rem;
  font-size: 20px;
}

.content button {
  width: fit-content;
  background-color: rgba(0,0,0,0.1);
  color: white;
  border: 2px solid white;
  border-radius: 0.25rem;
  padding: 0.75rem;
  cursor: pointer;
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
}

.nav .btn {
  background-color: rgba(255,255,255,0.5);
  color: rgba(0,0,0,0.7);
  border: 2px solid rgba(0,0,0,0.6);
  margin: 0 0.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}

.nav .btn:hover {
  background-color: rgba(255,255,255,0.3);
}

@media (width > 650px) and (width < 900px) {
  .content .title {
    font-size: 1rem;
  }

  .content .description {
    font-size: 0.7rem;
  }

  .content button {
    font-size: 0.7rem;
  }

  .item {
    width: 160px;
    height: 270px;
  }

  .item:nth-child(3) { left: 50%; }
  .item:nth-child(4) { left: calc(50% + 170px); }
  .item:nth-child(5) { left: calc(50% + 340px); }
  .item:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
}

@media (width < 650px) {
  .content .title {
    font-size: 0.9rem;
  }

  .content .description {
    font-size: 0.65rem;
  }

  .content button {
    font-size: 0.7rem;
  }

  .item {
    width: 130px;
    height: 220px;
  }

  .item:nth-child(3) { left: 50%; }
  .item:nth-child(4) { left: calc(50% + 140px); }
  .item:nth-child(5) { left: calc(50% + 280px); }
  .item:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
    width: 100%;
    text-align: left;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}