<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hotels</title>
  <link rel="stylesheet" href="../css/hotel.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <header class="header">
    <a href="#" class="logo">
      <img src="../images/travellogo.png" alt="Logo">
    </a>

    <nav class="navbar">
      <a href="../index.html">Home</a>
      <a href="tripitinerary.html">Trip Itinerary</a>
      <a href="hotel.html" class="active">Hotels</a>
      <a href="thingstoDo.html">Things To Do</a>
      <a href="placestovisit.html">Places To Visit</a>
      <a href="events.html">Events</a>
      <a href="shopping.html">Shopping</a>
      <a href="restaurants.html">Restaurants</a>
    </nav>
  </header>

  <main>
    <section class="intro">
      <h2>Hér er listi af mögulegum hótelum:.</h2>
    </section>
    
    <div class="container">
      <div class="card">
        <div id="slider1" class="slider slideshow__container">
          <img v-for="(slide, index) in slides" :key="slide.id" :src="slide.url" :alt="slide.title" :class="{ active: isActive(index) }">
        </div>

        <div class="content">
          <div class="description">
            <h1>Radisson Blu Béke Hotel, Budapest</h1>
            <p> Radisson Hotel Budapest BudaPart býður upp á líkamsræktarstöð, sameiginlega setustofu, veitingastað og bar í Búdapest.
               Þetta 4-stjörnu hótel býður upp á alhliða móttökuþjónustu og farangursgeymslu. Gististaðurinn býður upp á sólarhringsmóttöku,
                flugrútu, herbergisþjónustu og ókeypis WiFi.Öll herbergin á hótelinu eru með skrifborð, flatskjá, sérbaðherbergi, rúmföt
                 og handklæði. Allar gistieiningarnar eru með ísskáp.Á gististaðnum er boðið upp á morgunverðarhlaðborð, léttan morgunverð
                  eða amerískan morgunverð. Ungverska þjóðminjasafnið er 3,8 km frá Radisson Hotel Budapest BudaPart, en keðjubrúin er 
                  4,6 km í burtu. Næsti flugvöllur er Budapest Ferenc Liszt-alþjóðaflugvöllur, 13 km frá gististaðnum.
            </p>
            <p>
              Þetta er 4 stjörnu hótel með 8,8 í einkunn. Kostnaður við 1 stórt hjónarúm fyrir 1 með morgunmat er 77.780 kr. 
              Kostnaður við 2 einstaklings rúm fyrir 2 með morgunmat er 84.028 kr.
            </p>

            <h3>Features</h3>
            <ul>
              <li>Líkamsræktarstöð</li>
              <li>Bar</li>
              <li>herbergisþjónustu</li>
              <li>veitingastað</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="slider2" class="slider slideshow__container">
          <img v-for="(slide, index) in otherSlides" :key="slide.id" :src="slide.url" :alt="slide.title" :class="{ active: isActive(index) }">
        </div>

        <div class="content">
          <div class="description">
            <h1>Park Inn By Radisson Budapest</h1>
            <p> Hótelið opnaði árið 2012 og býður upp á flott loftkæld herbergi og veitingastað í norðurhluta Búdapest. Þráðlaust net er í boði ókeypis.
              Öll herbergin eru innréttuð í skærum litum og búin flatskjásjónvarpi og öryggishólfi. Sérbaðherbergið er með sturtu og hárþurrku og í sumum 
              herbergjanna eru ókeypis snyrtivörur. Veitingastaðurinn hefur verið hannaður í samræmi við nýjustu strauma og hann býður upp á ungverska og
               alþjóðlega matargerð. Park Inn By Radisson Budapest er einnig með bar sem býður upp á kaffi og bragðgóða kokteila.Duna Plaza-verslunarmiðstöðin
                er í 500 metra fjarlægð sem og Gyöngyösi utca M3-neðanjarðarlestarstöðin sem tekur þig í miðbæinn á innan við 15 mínútum. 
                Liszt Ferenc-alþjóðaflugvöllurinn er í 22 km fjarlægð. Hajógyari-eyjan, sem hýsir hið fræga Sziget Fesztival, er í 5 km fjarlægð frá húsnæðinu.
            </p>
            <p>
              Þetta er 4 stjörnu hótel með 8,4 í einkunn. Kostnaður við 1 stórt hjónarúm fyrir 1 með morgunmat er 79.380 kr. 
              Kostnaður við 2 einstaklings rúm fyrir 2 með morgunmat er 72.740 kr.
            </p>
            <h3>Features</h3>
            <ul>
              <li>Líkamsræktarstöð</li>
              <li>herbergisþjónustu</li>
              <li>Veitingastaðir</li>
              <li>Ókeypis WiFi</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="slider3" class="slider slideshow__container">
          <img v-for="(slide, index) in nextSlides" :key="slide.id" :src="slide.url" :alt="slide.title" :class="{ active: isActive(index) }">
        </div>

        <div class="content">
          <div class="description">
            <h1>Vagabond Downtown</h1>
            <p> íbúðarhótel sem býður upp á gistingu í Búdapest, í 1,1 km fjarlægð frá Ríkisóperunni.Einingarnar eru með parketgólf, setusvæði með flatskjá 
              með kapalrásum, fullbúið eldhús með borðkrók og sérbaðherbergi. Einnig eru til staðar ofn, örbylgjuofn og kaffivél. Íbúðahótelið er með verönd.
              Basilíka heilags Stefáns er 1,1 km frá Vagabond Downtown, en House of Terror er 1,4 km í burtu. Næsti flugvöllur er Budapest Ferenc 
              Liszt-alþjóðaflugvöllur, 22 km frá gististaðnum.Hluti af hótelkeðju Fússunarlausar.
            </p>
            <p>
              Þetta er 5 stjörnu hótel með 9,2 í einkunn. Kostnaður við 1 stórt hjónarúm fyrir 1 er 61.660 kr. 
              Kostnaður við 2 einstaklings rúm fyrir 2 er 62.920 kr.
            </p>
            <h3>Features</h3>
            <ul>
              <li>Sólarhringsmóttaka</li>
              <li>Verönd og lyfta</li>
              <li>Garður</li>
              <li>Ókeypis WiFi</li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div id="slider4" class="slider slideshow__container">
            <img v-for="(slide, index) in nextSlides" :key="slide.id" :src="slide.url" :alt="slide.title" :class="{ active: isActive(index) }">
          </div>
  
          <div class="content">
            <div class="description">
              <h1>B&B Hotel Budapest City</h1>
              <p> Hotel er staðsett á besta stað í miðbæ Búdapest og býður upp á loftkæld herbergi, heilsuræktarstöð, ókeypis WiFi og verönd. 
                Þetta 3-stjörnu hótel býður upp á sólarhringsmóttöku og alhliða móttökuþjónustu. Gestir geta notið ítalskra rétta og rétta frá 
                Pítsu á veitingastaðnum eða fengið sér kokkteil á barnum. Allar einingar hótelsins eru með setusvæði, flatskjá með gervihnattarásum
                 og sérbaðherbergi með ókeypis snyrtivörum og sturtu. Öll herbergin eru með skrifborð. Morgunverðarhlaðborð, léttur morgunverður
                  eða grænmetismorgunverður er í boði daglega á gististaðnum. Ungverska þjóðminjasafnið er 1,6 km frá B&B Hotel Budapest City og
                   Dohany-stræti er í 3 km fjarlægð. Næsti flugvöllur er Budapest Ferenc Liszt-alþjóðaflugvöllur, 12 km frá gististaðnum.
              </p>
              <p>
                Þetta er 3 stjörnu hótel með 8,7 í einkunn. Kostnaður við 1 stórt hjónarúm fyrir 1 með morgunmat er 60.275 kr. 
                Kostnaður við 2 einstaklings rúm fyrir 2 með morgunmat er 54.329 kr.
              </p>
              <h3>Features</h3>
              <ul>
                <li>Sólarhringsmóttaka</li>
                <li>Líkamsræktarstöð</li>
                <li>Garður og bar</li>
                <li>Ókeypis WiFi</li>
              </ul>
            </div>
          </div>

      </div>
    </div>
  </main>

  <script src="../js/hotel.js"></script>
</body>
</html>
